/*//////////////////////////////////////
				GENERAL 
//////////////////////////////////////*/
body{
	min-height: 100%;
}

input.ui-text-input{
	background-color: whitesmoke;
	}
	
.ui-btn, .ui-btn-inner{
	border-radius: 5px;
	}
	
.headerMenu a{
	background-image: url("images/menu-icon.png");
}
.ui-header{
	height: 50px;
}
.ui-header p{
	text-align:center;
}
.ui-header .ui-btn-inner{
	border: none;
	padding: 0;
}
.ui-header .ui-btn{
	box-shadow: none;
	padding:0;
}

.ui-btn-right{
	color:#ffffff;
	border:0;
	background:0;
}

.headerMenu a{
	background: 0;
	border: 0;
	box-shadow: none;
}


.ui-footer{
	position:fixed; 
	bottom:0px;
	left:0;
	right:0; 
	width: 100%;
	height:50px;
}

.footerMenu a{
	background:0;
	border:0;
	box-shadow:none;
}

div#menuButtons{
	text-align:center;
}
div#mainmenu a{
	background: none; 
	width: 20%; 
	border: 0; 
	box-shadow: none;
}
div#mainmenu .ui-btn-inner{
	border: 0;
	box-shadow: none;
}

/*//////////////////////////////////////
				LOG IN 
//////////////////////////////////////*/

#loginSignup .ui-content img{
	margin-left: auto;
}

#logoFront img{
	margin-left: 70px;
	margin-top: 100px;
}

#loginSignup .ui-footer .ui-btn{
	width: 40%;
	}




/*//////////////////////////////////////
				SIGN UP 
//////////////////////////////////////*/
#confirmPassword{
	margin-bottom: 100px;
}
 
#createAccountButton a{
	bottom: 5px;
}
/*//////////////////////////////////////
				USER INFO 
//////////////////////////////////////*/
#userinfo h3{
	margin-bottom: 40px;
	
}

#birthYear{
	margin-bottom: 40px;
}

#travelcard{
	margin-bottom:20px;
}
#occupation{
	margin-bottom:20px;
}

/*//////////////////////////////////////
				TRACKING
//////////////////////////////////////*/

	

div#trackingContent .ui-btn-inner{
	border:none;
}
div#tracking .ui-content{
	padding: 0;
}

div#selectDestination{
	width: inherit;
	margin-top: 65%;
	position: absolute;
	z-index: 99;
	
}

div#trackingButtons{
	position: absolute;
	z-index: 99;
	margin-top:45%;
	
}

div#start .ui-btn-inner{
	padding: 0;
	border: 0;
}
div#start a{
	height: inherit;
	box-shadow: none;
	border: none;
	}
	
div#stop a{
	height: inherit;
	box-shadow: none;
	border: none;
	}
div#stop .ui-btn-inner{
	padding: 0;
	border: 0;
}

div#start .ui-btn-up-a{
	background:0;
}
div#stop .ui-btn-up-a{
	background:0;
}
div#start{
	margin-left: 10px;
	background: transparent;
	background-image: url(../images/play.png) !important;
	border-radius: 100px;
            width: 70px;
            height: 70px;
            padding: 0px;
            border: none;
			box-shadow: none;}

div#stop{
	margin-left: 10px;
	background: transparent;
	background-image: url(../images/stop.png) !important;
	border-radius: 100px;
            width: 70px;
            height: 70px;
            padding: 0px;
            border: none;
			box-shadow: none;
			
			
}
div#start .ui-btn-hover-a, div#start .ui-btn-down-a{
	background-image: url(../images/play.png) !important;
	border-radius: 100px;
            width: 70px;
            height: 70px;
            padding: 0px;
            border: none;
}



div#stop .ui-btn-hover-a, div#stop .ui-btn-down-a{
	background-image: url(../images/stop.png) !important;
	border-radius: 100px;
            width: 70px;
            height: 70px;
            padding: 0px;
            border: none;
}

div#durationLength{
position: absolute;
z-index:99;
width: 100%;
color: #333;
text-shadow:none;
}
div#durationLength h3{
	font-size: 30px;
	font-weight:lighter;
	margin: 0;
	box-shadow:none;
	
}
div#durationLength p{
	margin: 0;
}
div#duration{
	margin:20px 10px 10px 20px;
	float: left;
}
div#length{
	margin:20px 10px 10px 20px;
	float: right;
}
div#length p{
	float: right;
}

div#map{
	position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%-104px;
  min-height: 100%;	
}

/*///////////////////////////////////
			TRACKING LIST
///////////////////////////////////*/
#trackingList h1{
	font-size: 20px;
}
li#buttons{
	padding:0;
}
div#uploadDeleteButtons, .ui-controlgroup-controls{
	width:100%;
	margin: 0 auto; 
	bottom:0;
	text-align:center;
}
a#save, a#delete{
	width: 30%;
	}
a#upload{
	width: 40%;
	}
ul#trackingList p, ul#trackingList h1{
	width: 65%;
	float: left;
}


ul#trackingList .ui-li-aside{
	width: 30%;
	float: right;
}

/*///////////////////////////////////
			MANAGE TRIPS
///////////////////////////////////*/
div#managetrips .ui-content{
	padding: 0;
}
div#dateSide{
	margin:20px 10px 10px 10px;
	float: none;
	color:black;
}
div#durationSide{
	margin:20px 10px 10px 10px;
	float: none;
	color:black;
}
div#lengthSide{
	margin:20px 10px 10px 10px;
	float: none;
	color:black;
}
div#tripContent{
	float:left;
	border:none;
}
h1 {color:white;}

div#bottomSummary{
	float:none;
	border:none;
}
div#tripList{
	margin:10px 10px 55px 10px;
}
div#kart{
	border:none;
	float:right;
}
div#addStops{
	margin:10px 10px 10px 10px;
	color: white;
}
div#right{
	float:right;
	text-align:right;
}


